In [32]:
import pandas as pd
import numpy as np
import os

In [43]:
path = 'Tidal_Current Data/'
mar_link = path + '20170317_tidal.txt'
may_link = path + '20170502_tidal.txt'
dec_link = path + '20171219_tidal.txt'
mar2_link = path + '20180328_tidal.txt'
may2_link = path + '20180507_tidal.txt'

names = ['Date', 'Day', 'Time (EST)', 'Pred', 'High/Low']

df1 = pd.read_table(mar_link, names=names, skiprows=[0])
df2 = pd.read_table(may_link, names=names, skiprows=[0])
df3 = pd.read_table(dec_link, names=names, skiprows=[0])
df4 = pd.read_table(mar2_link, names=names, skiprows=[0])
df5 = pd.read_table(may2_link, names=names, skiprows=[0])

In [44]:
df = pd.concat([df1, df2, df3, df4, df5]).reset_index(drop=True)
df.head()

         Date  Day Time (EST)   Pred High/Low
0  2017/03/17  Fri      02:51   9.36        H
1  2017/03/17  Fri      09:08   0.39        L
2  2017/03/17  Fri      15:20   8.73        H
3  2017/03/17  Fri      21:21   0.98        L
4  2017/05/02  Tue      04:23  10.47        H

In [45]:
df.to_csv('Tidal_data.csv', index=False)

# Cleans the current data

In [36]:
csvs = ['Tidal_Current Data/CAB1409_prediction_Timeseries_{}.csv'.format(d) for d in 
        ['2017-03-17', '2017-05-02', '2017-12-19', '2018-03-28', '2018-05-07']]
flood_dir = [354, 354, 354, 354, 354]
ebb_dir = [179, 179, 179, 179, 179]

In [37]:
df0 = pd.read_csv(csvs[3], nrows=240)
# adds seconds
df0['Date_Time (GMT)'] = df0['Date_Time (GMT)'].apply(lambda x: x[:-3] + ':00' + x[-3:])

In [38]:
df0['direction (degrees)'] = np.where(df0[' Speed (cm/sec)'] > 0, 354, 179)

In [39]:
df0

            Date_Time (GMT)   Speed (cm/sec)  direction (degrees)
0    2018-03-28 12:00:00 AM              9.2                  354
1    2018-03-28 12:06:00 AM              7.0                  354
2    2018-03-28 12:12:00 AM              4.7                  354
3    2018-03-28 12:18:00 AM              2.3                  354
4    2018-03-28 12:24:00 AM             -0.1                  179
5    2018-03-28 12:30:00 AM             -2.6                  179
6    2018-03-28 12:36:00 AM             -5.1                  179
7    2018-03-28 12:42:00 AM             -7.7                  179
8    2018-03-28 12:48:00 AM            -10.3                  179
9    2018-03-28 12:54:00 AM            -13.0                  179
10   2018-03-28 01:00:00 AM            -15.6                  179
11   2018-03-28 01:06:00 AM            -18.2                  179
12   2018-03-28 01:12:00 AM            -20.8                  179
13   2018-03-28 01:18:00 AM            -23.4                  179
14   2018-03-28 01:24:00 AM            -25.9                  179
15   2018-03-28 01:30:00 AM            -28.4                  179
16   2018-03-28 01:36:00 AM            -30.7                  179
17   2018-03-28 01:42:00 AM            -32.9                  179
18   2018-03-28 01:48:00 AM            -35.1                  179
19   2018-03-28 01:54:00 AM            -37.1                  179
20   2018-03-28 02:00:00 AM            -38.9                  179
21   2018-03-28 02:06:00 AM            -40.6                  179
22   2018-03-28 02:12:00 AM            -42.1                  179
23   2018-03-28 02:18:00 AM            -43.4                  179
24   2018-03-28 02:24:00 AM            -44.6                  179
25   2018-03-28 02:30:00 AM            -45.6                  179
26   2018-03-28 02:36:00 AM            -46.3                  179
27   2018-03-28 02:42:00 AM            -46.9                  179
28   2018-03-28 02:48:00 AM            -47.3                  179
29   2018-03-28 02:54:00 AM            -47.4                  179
..                      ...              ...                  ...
210  2018-03-28 09:00:00 PM             20.9                  354
211  2018-03-28 09:06:00 PM             22.5                  354
212  2018-03-28 09:12:00 PM             24.2                  354
213  2018-03-28 09:18:00 PM             25.8                  354
214  2018-03-28 09:24:00 PM             27.5                  354
215  2018-03-28 09:30:00 PM             29.0                  354
216  2018-03-28 09:36:00 PM             30.6                  354
217  2018-03-28 09:42:00 PM             32.0                  354
218  2018-03-28 09:48:00 PM             33.3                  354
219  2018-03-28 09:54:00 PM             34.6                  354
220  2018-03-28 10:00:00 PM             35.7                  354
221  2018-03-28 10:06:00 PM             36.7                  354
222  2018-03-28 10:12:00 PM             37.6                  354
223  2018-03-28 10:18:00 PM             38.3                  354
224  2018-03-28 10:24:00 PM             38.9                  354
225  2018-03-28 10:30:00 PM             39.4                  354
226  2018-03-28 10:36:00 PM             39.7                  354
227  2018-03-28 10:42:00 PM             39.9                  354
228  2018-03-28 10:48:00 PM             39.9                  354
229  2018-03-28 10:54:00 PM             39.8                  354
230  2018-03-28 11:00:00 PM             39.5                  354
231  2018-03-28 11:06:00 PM             39.2                  354
232  2018-03-28 11:12:00 PM             38.6                  354
233  2018-03-28 11:18:00 PM             38.0                  354
234  2018-03-28 11:24:00 PM             37.2                  354
235  2018-03-28 11:30:00 PM             36.3                  354
236  2018-03-28 11:36:00 PM             35.4                  354
237  2018-03-28 11:42:00 PM             34.2                  354
238  2018-03-28 11:48:00 PM             33.0                  354
239  2018-03-28 11:54:00 PM             31.7                  354

[240 rows x 3 columns]

In [40]:
for csv, flood, ebb in zip(csvs, flood_dir, ebb_dir):
    df = pd.read_csv(csv, nrows=240)
    df.rename(index=str, columns={' Speed (cm/sec)': 'Speed (cm/sec)'}, inplace=True)
    df['Date_Time (GMT)'] = df['Date_Time (GMT)'].apply(lambda x: x[:-3] + ':00' + x[-3:]) # adds seconds
    df['Direction (degrees relative to North)'] = np.where(df['Speed (cm/sec)'] > 0, flood, ebb)
    df.to_csv(csv[:-4] + '_cleaned.csv', index=False)